name: Validate Dockerfile

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Validate root Dockerfile
        uses: brpaz/hadolint-action@v1.2.1
        with:
          dockerfile: Dockerfile
#      -
#        name: Validate dev Dockerfile
#        uses: brpaz/hadolint-action@v1.2.1
#        with:
#          dockerfile: with-xdebug/Dockerfile
